---
import '@/styles/index.css'
import {site} from "@/consts";
import UmamiAnalytics from '@/components/UmamiAnalytics.astro';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';
import BusuanziAnalytics from '@/components/BusuanziAnalytics.astro';
import getUrl from "@/utils/getUrl";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {title = site.title, description = site.description, mathjax = false, mermaid = false, ogImage:ogimage = ''} = Astro.props
let ogImage =  ogimage || new URL(Astro.url.pathname, Astro.site?.href).href;
// console.log(Astro.props)
const ogType = (title === site.title) ? "website" : "article";
const originalDate = new Date(Astro.props.date)
const options = { timeZone: "UTC", year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
const formattedDate = originalDate.toLocaleString('zh-CN', options);
---
<head>
  <!-- Global Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/svg+xml" href={getUrl(site.favicon)}>
  <meta name="generator" content={Astro.generator}>
  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL}>
  <link rel="alternate" type="application/rss+xml" title="Ò¹»ð²©¿Í RSS Feed" href="https://feeds.feedburner.com/15897">

  <!-- Primary Meta Tags -->
  <meta name="title" content={title}>
  <meta name="description" content={description}>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content={Astro.url}>
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={ogImage}>
  <!-- <meta property="og:image:alt" content={site.description}/> -->
  {ogType === "article" && (
    <>
      <meta property="og:article:published_time" content={formattedDate}/>
      <meta property="og:article:author" content={site.author}/>
      <meta property="og:article:section" content={Astro.props.category}/>
      <meta property="og:article:tag" content={Astro.props.tags}/>
    </>
  )}


  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content={Astro.url}>
  <meta property="twitter:title" content={title}>
  <meta property="twitter:description" content={description}>
  <meta property="twitter:image" content={ogImage}>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="sitemap" href={getUrl("/sitemap-0.xml")}>
  <title>{title}</title>
  <script is:inline src={getUrl("/toggle-theme.js")}></script>
  {
    mathjax && <script async type="text/javascript" src=`${getUrl("/load-mathjax.js")}`></script>
  }

  {
    mermaid &&
    <script async type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/mermaid/10.9.0/mermaid.min.js"></script>
  }
  <GoogleAnalytics />
  <UmamiAnalytics />
  <BusuanziAnalytics/>
</head>
